---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Steve Beczkiewicz">
  <h1>Steve Beczkiewicz</h1>
  <div class="grid-standard">
    <div>01</div>
    <div>02</div>
    <div>03</div>
    <div>04</div>
    <div>05</div>
  </div>
</Layout>
