---
import { getEntryBySlug } from "astro:content";
import Marquee from "@components/Marquee.astro";
import Layout from "../layouts/Layout.astro";
import Section from "@components/Section.astro";
import ImagePreview from "@components/ImagePreview.astro";
import "../global.css";

const photos = await Promise.all([
  getEntryBySlug("photos", "glacier-twilight"),
  getEntryBySlug("photos", "the-watcher"),
]);
---

<Layout title="Steve Beczkiewicz">
  <Marquee
    title="Hello There!"
    subTitle="My name is Steve. I take photos, write code, and reach for the stars!"
  />
  <Section title="Current Favorites" >
    <div class="grid-standard">
      {
        photos.map(({ data, slug }) => (
          <ImagePreview
            src={data.compressed.src}
            alt={data.alt}
            href={`/photos/${slug}`}
          />
        ))
      }
    </div>
  </Section>
</Layout>
