---
interface Props {
  src: string;
  alt: string;
  href?: string;
}
const { src, alt, href } = Astro.props;
---

<div>
  <a href={href}>
    <img src={src} alt={alt} class="h-auto max-w-full" />
  </a>
</div>
