---
import type { Link } from "@composables/Link";
interface Props {
  links: Link[];
}
const { links } = Astro.props;
---

<div class="flex items-center">
  <div class="flex-grow text-bold text-2xl">
    <a href="/">
      <div>Steve Beczkiewicz</div>
    </a>
  </div>
  <div class="flex space-x-6">
    {
      links.map((link) => (
        <div class="font-medium md:text-lg">
          {link.openInNewTab ? <a href={link.href} target="_blank">{link.text}</a> : <a href={link.href} >{link.text}</a>}
          
        </div>
      ))
    }
    <slot />
  </div>
</div>
