---
import Navbar from "@components/Navbar.astro";
import { ViewTransitions } from 'astro:transitions';
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const currentYear = new Date().getFullYear()
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />
    <ViewTransitions />
  </head>
  <body class="bg-background text-trunk px-6">
    <header>
      <div class="frame my-8">
        <Navbar
          links={[
            { text: "Home", href: "/" },
            { text: "Portfolio", href: "/portfolio" },
            { text: "Film", href: "/film" },
            { text: "Github", href: "https://github.com/sbeczkiewicz/", openInNewTab: true },
            { text: "LinkedIn", href: "https://www.linkedin.com/in/steve-beczkiewicz-23b731182/" , openInNewTab: true}
          ]}
        />
      </div>
      <hr class="mb-3 opacity-70" />
    </header>
    <main>
      <div class="frame space-y-6">
        <slot />
      </div>
    </main>
    <footer>
      <div class="frame my-6 md:my-8">
        <hr class="mb-3 opacity-70" />
        <div>Copyright Steve Beczkiewicz ©
          {currentYear}
        </div>
        <div>Powered by Astro, Tailwind, Azure, and Love</div>
      </div>
    </footer>
  </body>
</html>
