---
import Navbar from "@components/Navbar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="My website" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-background text-trunk px-6">
    <header>
      <div class="frame my-8">
        <Navbar
          links={[
            { text: "Home", href: "/" },
            { text: "Github", href: "https://github.com/sbeczkiewicz/" },
          ]}
        />
      </div>
      <hr class="mb-3 opacity-70" />
    </header>
    <main>
      <div class="frame space-y-8">
        <slot />
      </div>
    </main>
    <footer>
      <div class="frame my-6 md:my-8">
        <hr class="mb-3 opacity-70" />
        <div>Copyright Steve Beczkiewicz 2023</div>
        <div>Powered By Astro, Tailwind, and love</div>
      </div>
    </footer>
  </body>
</html>
